.center {
    margin: 3em auto;
    padding: 3em 0;
    /*min-height: 100vh;*/
    height: 100%;
    display: block;
    width: 80%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    position: relative;
}

.color1 {
    background-color: rgba(41, 121, 255, .7);
}

.rowCenter {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: baseline;
    position: relative;
    width: 100%;
}

.aprroach-card {
    background-image: url(/Content/img/uploads/vet-bg.png);
}

@media(min-width:1080px) {
    .approach-wrapper {
        position: relative;
        width: 100%;
        padding-top: 100%; /* 1:1 Aspect Ratio */
    }

    .aprroach-card {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

.approach-wrapper {
    position: relative;
}

    .approach-wrapper h1, .approach-wrapper h2, .approach-wrapper h3, .approach-wrapper h4, .approach-wrapper p {
        margin: 1rem 0;
        color: #fff;
    }

.aprroach-card {
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    text-align: center;
    font-size: 40px;
    color: #000;
    background-color: rgba(0, 0, 0, .6);
    padding: 50px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    vertical-align: baseline;
    margin: auto;
    border: .5px solid #ccc;
}

    .aprroach-card h3 {
        font-size: 25px;
    }

.apprach-btn {
    border: 1px solid transparent;
    position: relative;
    display: inline-block;
    line-height: normal;
    padding: 0.3em 1.4696em;
    font-size: 15px;
    color: white;
}

.aprroach-card p {
    font-size: 17px;
}

#arrow {
    border: none!important;
}

.button {
    cursor: pointer;
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}

    .button:after, .button:before {
        content: " ";
        width: 10px;
        height: 10px;
        position: absolute;
        border: 0px solid #fff;
        transition: all 1s;
    }

    .button:after {
        top: -1px;
        left: -1px;
        border-top: 5px solid white;
        border-left: 5px solid white;
    }

    .button:before {
        bottom: -1px;
        right: -1px;
        border-bottom: 5px solid white;
        border-right: 5px solid white;
    }

    .button:hover {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
        font-weight: 800;
        color: white;
    }

        .button:hover:before, .button:hover:after {
            width: 100%;
            height: 100%;
        }
