@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    background-color: #9DC8FF;
    background-size: cover;
    color: #fff;
    font-family: 'Cairo', sans-serif;
    min-height: 100vh;
}

.bars {
    position: absolute;
    width: 27px;
    height: 27px;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 101;
    padding-top: 9px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #fff;
    position: absolute;
}

.bar::before,
.bar::after {
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    height: 4px;
    position: absolute;
}

.bar::before {
    transform: translateY(-9px);
}

.bar::after {
    transform: translateY(9px);
}

.bars.active .bar {
    background-color: transparent;
}

.bars.active .bar::before {
    animation: top-bar 1s;
    animation-fill-mode: forwards;
}

.bars.active .bar::after {
    animation: bottom-bar 1s;
    animation-fill-mode: forwards;
}


/* Navbar Links CSS */

#nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 1s;
    z-index: -1;
    overflow: hidden;
    opacity: 0;
}

    #nav a {
        color: #fff;
        text-decoration: none;
        line-height: 70vw;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        text-indent: 50vw;
        border-radius: 50%;
        transition: all .5s;
    }

        #nav a:hover {
            background: #357FFD;
        }

ul {
    list-style: none;
}

.visible {
    z-index: 100 !important;
    opacity: 1 !important;
}

.shape-circle {
    border-radius: 50%;
    width: 20vw;
    height: 20vw;
    top: -10vw;
    right: -10vw;
    position: absolute;
    transition: all 1s ease-in-out;
    background: #2979FF;
    box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child {
    width: 85vw;
    height: 85vw;
    top: -17vw;
    right: -50vw;
    z-index: 5;
    transition: all .5s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(2) {
    width: 65vw;
    height: 65vw;
    top: -8.5vw;
    right: -37.5vw;
    z-index: 6;
    transition: all .6s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:nth-child(3) {
    width: 45vw;
    height: 45vw;
    top: 0vw;
    right: -25vw;
    z-index: 7;
    transition: all .7s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:last-child {
    width: 25vw;
    height: 25vw;
    top: 10vw;
    right: -12.5vw;
    z-index: 8;
    transition: all .8s ease-in-out;
    box-shadow: 0 0px 80px rgba(4, 26, 62, 0.5);
}

nav.visible li:first-child a {
    line-height: 77vw !important;
    text-indent: 3.5vw !important;
}

nav.visible li:nth-child(2) a {
    line-height: 60vw !important;
    text-indent: 4.25vw !important;
}

nav.visible li:nth-child(3) a {
    line-height: 43vw !important;
    text-indent: 4.25vw !important;
}

nav.visible li:last-child a {
    line-height: 35vw !important;
    text-indent: 6vw !important;
    background-image: url("img/uploads/placeholder.jpg");
    margin: 150px;
}


/* Main Body CSS */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    min-height: 100vh;
}

h1 {
    font-size: 60px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-transform: uppercase;
    font-size: 120px;
    letter-spacing: 5px;
    padding-top: 40px;
}

article p {
    padding-bottom: 15px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

article a {
    color: #fff;
    text-decoration: none;
    opacity: .2;
    font-size: 12px;
}

    article a:hover {
        opacity: .8;
    }

@keyframes top-bar {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: rotate(45deg) translateY(0);
    }
}

@keyframes bottom-bar {
    50% {
        transform: translateY(0);
    }

    100% {
        transform: rotate(-45deg) translateY(0);
    }
}


@media screen and (max-width:800px) {

    h1 {
        padding-top: 80px;
        font-size: 60px;
    }
}
