@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400&display=swap');

/* Set padding to keep content from hitting the edges */
body, p, h1, h2, h3, h4, h5, span, a, button, div, input, label {
    font-family: 'Cairo', sans-serif;
    color: #141461;
}

.cf {
    margin-top: 0px;
    font-size: 3rem;
}

.cfForm {
    height: 35%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.inputCF {
    font-size: 1.4rem;
    height: 50px;
    box-shadow: 5px 2px 6px 0px rgba(255,255,255,0.43);
    width: 387px;
}

.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.form-group {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.form-control {
    background-color: #ffffff21;
    color: #141461;
    border: 0
}

.btn-outline-info {
    margin-top: 20px;
}
.btn:hover {
    background-color: #31afff !important;
    color: white !important;
}
.footer {
    bottom: 0;
    position: absolute;
}

.btnCF {
    background-color: #ffffff;
    color: #141461;
    margin-top: 38px;
    font-size: 1.5rem;
}
.quantity{width:60px}
.control-label{font-size:1.4rem}
/* Set width on the form input elements since they're 100% wide by default */

.venditeCF{
    display:flex;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    align-items: center;
    
}
#cf {
    margin-bottom: 3%;
    box-shadow: 5px 2px 6px 0px rgba(255,255,255,0.43);
    width: 36%;
    text-align: center;
    border-color: #1e90ff;
    border-radius: 20px;
    font-size: 20px;
    color: #1e90ff;
    padding: 0.3em;
}
#btn1 {
    margin-bottom: 5%;
    cursor: pointer;
    width: 20%;
    background-color: white;
    color: #1e90ff;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 0.3em;
}
    #btn1:hover {
        background-color: #1e90ff;
        color:white;
    }
#input-data {
    margin-bottom: 3%;
    box-shadow: 5px 2px 6px 0px rgba(255,255,255,0.43);
    width: 36%;
    text-align: center;
    border-color: #1e90ff;
    border-radius: 20px;
    font-size: 20px;
    color: #1e90ff;
    padding: 0.3em;
}
#btn2 {
    cursor: pointer;
    margin-bottom: 5%;
    width: 20%;
    background-color: white;
    color: #1e90ff;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    padding: 0.3em;
}
#btn2:hover {
    background-color: #1e90ff;
    color: white;
}
.accadue {
    margin-bottom: 5%;
    color: white;
    text-shadow: -1px 0 #141161, 0 1px #141161, 1px 0 #141161, 0 -1px #141161;
}
.bovendite {
    /*background: rgb(0,47,78);
    background: linear-gradient(90deg, rgba(0,47,78,1) 0%, rgba(15,105,213,1) 21%, rgba(255,255,255,1) 100%);*/
    /*background: rgb(0,47,78);
    background: linear-gradient(90deg, rgba(0,47,78,1) 0%, rgba(13,74,147,1) 0%, rgba(255,255,255,1) 100%);*/
    background: rgb(157,200,255);
    background: linear-gradient(90deg, rgba(157,200,255,1) 55%, rgba(255,255,255,1) 100%);
}
.img-magazzino{
    width:60px;
}


/*link magazzino*/


#div a {
    text-decoration: none;
    color: #1e90ff;
    font-size: 1.4em;
    font-weight:bold;
}


#div a:hover{
    font-size:1.6em;
    color:#31afff;
}

#div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select{
    box-shadow: 5px 5px 15px 1px rgb(0,0,0,0.5) !important;
    text-align: center;
}