
@{
    ViewBag.Title = "venditeCF";
}

@if (TempData["Successo"] != null)
{
    <p class="text-center text-primary fs-5 fst-italic p-3">@TempData["Successo"]</p>
}

<body class="bovendite">
    <h2 class="accadue text-center">MOSTRA LE VENDITE EFFETTUATE PER CLIENTE</h2>
    <div class="venditeCF">

        <input type="text" id="cf" placeholder="Inserisci il codice fiscale del cliente" />
        <input type="button" id="btn1" value="Avvia ricerca per CF" />
        <input type="date" id="input-data" />
        <input type="button" id="btn2" value="Avvia ricerca per data" />


        <ul id="list-cf"></ul>

        <ul id="list-data"></ul>

    </div>
</body>



@section scripts{

    <script src="~/Scripts/venditeCF.js">

    </script>


}