@{
    ViewBag.Title = "venditeCF";
}


@if (TempData["Successo"] != null)
{
    <p class="text-center text-primary fs-5 fst-italic p-3">@TempData["Successo"]</p>
}

<body class="bovendite">
    <h2 class=" text-center">MOSTRA LE VENDITE EFFETTUATE PER CLIENTE</h2>
    <div class="form-group my-3 d-flex flex-column justify-content-center align-items-center" >

        <input type="text"  class="form-control w-50 rounded-pill " id="cf" placeholder="Inserisci il codice fiscale del cliente" />
        <input type="button"  class="btn btn-light rounded-pill border-0 w-25 fw-semibold  fs-5" id="btn1" value="Avvia ricerca per CF" />
        <input type="date" class="form-control w-50 rounded-pill " id="input-data" />
        <input type="button" id="btn2" class="btn btn-light rounded-pill border-0 w-25 fw-semibold fs-5" value="Avvia ricerca per data" />


        <ul id="list-cf"></ul>

        <ul id="list-data"></ul>

    </div>
</body>



@section scripts{

    <script src="~/Scripts/venditeCF.js">

    </script>


}