@{
    ViewBag.Title = "Magazzino";
}

@section styles{
    <link href="~/Content/table.css" rel="stylesheet" />
    }

<div>
    @Html.ActionLink("ᐊ", "Home", "Vendite", null, new { @class = "btn btn-light btn-lg m-4 rounded-pill border-0" })
</div>

<h2 class="p-5 fw-semibold display-4">Elenco prodotti</h2>

<div class="d-flex flex-column justify-content-around align-items-center flex-grow-1 mx-4">
    <input type="text" id="input" class="form-control w-50 rounded-pill p-2" />
    <input type="button" id="btn" class="btn btn-light rounded-pill border-0 col-6 col-lg-3 fw-semibold p-2 my-4" value="Cerca prodotto" />
    @*<div id="div">
        </div>*@
    <table id="tabellaProdotti" class="table w-75 mx-auto my-5" style="display:none">
        <thead id="tabellaHead" style="display:none">
            <tr class="fs-4 light">

                <th>In vendita </th>
                <th>Immagine</th>
                <th>
                    Quantità
                </th>
                <th>
                    Nome prodotto
                </th>
                <th>
                    Costo
                </th>
                <th>
                    N. Armadietto
                </th>
                <th>
                    N. Cassetto
                </th>
                <th>
                    Azioni
                </th>
            </tr>
        </thead>
        <tbody id="tabellaBody">
        </tbody>
    </table>
</div>
@section scripts{

    <script src="~/Scripts/JavaScript.js"></script>
}