<input type="text" id="input" placeholder="cerca prodotto" />
<input type="button" id="btn" class="btn" value="cercaProdotto" />
<div id="div"> </div>
@section scripts{

    <script src="~/Scripts/JavaScript.js"></script>
}