<main>
    <section class="row text-center" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle" class="display-1">Amore, Cura, Salute: Dedicati al Tuo Compagno Peloso!</h1>
        <div class="d-flex align-items-center">
            <img src="~/Content/img/pawcare.png" class="m-5 w-25" alt="Alternate Text" />
            <p class="lead fs-1 m-0" style="line-height: 1.2em">Benvenuti alla PawCare Clinica Veterinaria, il luogo dove l'amore per gli animali incontra la cura professionale. Siamo qui per prenderci cura del vostro fedele amico a quattro zampe, garantendo la massima attenzione alla sua salute e al suo benessere. Con il nostro team di veterinari esperti e appassionati, forniamo servizi medici avanzati, controlli preventivi, e un ambiente confortevole per il vostro animale domestico. La vostra fiducia è la nostra priorità, e la felicità dei vostri amici pelosi è la nostra missione. PawCare, perché loro meritano il meglio!</p>
        </div>
    </section>    
</main>